.logo {
  vertical-align: top;
  height: 30vmin;
  pointer-events: none;
}

.body {
  text-align: center;
  background-color: #5b606c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.hoverClass:hover {
  cursor: pointer;
}
